html {
	position: relative;
	min-height: 100%;
	width: 100%;
}

body {
	position: absolute;
	width: 100%;
	margin: 0 0 100px;
}

.navbar-brand {
	padding: 15px;
}

#footer{
	position: absolute;
	bottom: : 0;
	width: 100%;
	background-color: #3399FF;
	color: #ffff21;
	font-size: 0.9em;
	height: 50px;
	text-align: center;
	padding-top: 15px;
}
.table-bottom{
	height: 50px;
	padding: 10px 0;
	border-top: 10px solid #000;
	border-bottom: 1px solid #000;
}

.bottom-nav{
	margin-top: 20px;

}

h2 {
	border-bottom: 1px solid #000;
}

.box-button{
	display: inline-block;
}

.paging {
	float: right;
	text-align: right;
}

.jumlah-data {
	float: left;
	text-align: left;
}
